section{
    width: 100px;
    max-height: 360px;
     margin: 100px auto;
     display: flex;
     justify-content: space-around;
}
h1{
    text-align: center;

}
div{
    width: 200px;
    height: 90%;
    padding: 20px;
    margin: 10px;
    background: #fafa;
    box-sizing: border-box;
}
p{
    background: red;
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
}
h3{
    text-align: center;
    color: black;
    background: #fafa;
}